<!DOCTYPE html>
<html lang="ko">

<!-- 공통헤드 -->
<head th:replace="layout/mobile/notice/head :: headFragment"></head>

<link rel="stylesheet" th:href="@{/sample/nanuri_project/css/attendance.css}">
<script th:src="@{/js/business/mobile/duty/attendance_approve_detail.js}"></script>
<body>
<div class="main">
    <div class="wrap">
        <form>
            <div class="form_box">
                <div class="form_title">사번번호</div>
                <div class="input_box">
                    <input class="input_box" id="empNo" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">이름</div>
                <div>
                    <input class="input_box" id="userNm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">직급</div>
                <div>
                    <input class="input_box" id="dtyNm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">소속</div>
                <div>
                    <input class="input_box" id="blgNm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">기준일자</div>
                <div>
                    <input class="input_box" id="basDt" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">근태구분</div>
                <div>
                    <input class="input_box" id="svceFormCdNm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">차감후 휴가일수</div>
                <div>
                    <input class="input_box" id="sbtAftVctnDys" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">시작일시</div>
                <div class="form_ex">
                    <input class="input_box2" id="stDt" type="text" disabled>
                    <input class="input_box2 input_3" id="stTm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">종료일시</div>
                <div class="form_ex">
                    <input class="input_box2" type="text" id="edDt" disabled>
                    <input class="input_box2 input_3" id="edTm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">상신일시</div>
                <div>
                    <input class="input_box" id="rgDtm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">결재상태</div>
                <div>
                    <input class="input_box" id="dczStsCdnm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">결재일시</div>
                <div>
                    <input class="input_box" id="dczDtm" type="text" disabled>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">결재자 이름</div>
                <div>
                    <input class="input_box" id="dczmnNm" type="text" disabled>
                </div>
            </div>
        </form>
        <div class="save_box">
            <div class="button_box2">
                <button class="attendance_btn approve_button" id="CONFIRM">결재</button>
                <button class="attendance_btn leave_button" id="REJECT">부결</button>
                <button class="attendance_btn reject_button" id="CLEAR">결재취소</button>
            </div>
            <div class="cancel_box">
                <button class="cancel_button">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>