<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.work.com.login.mapper.LoginMapper">

	<!-- 로그인 회원정보 -->
	<select id="getLoginUserDetailsVO" parameterType="String" resultType="com.nanuri.work.business.member.dto.MemberDTO">
		SELECT user_id				/* ID */
		     , user_nm				/* 이름 */
		     , tel_no				/* 휴대전화번호 */
		     , user_password 		/* 비밀번호 */
		     , user_autr_nm
		     , account_activ_yn		/* 계정활성화여부 */
		  FROM mem_bsc_info
		 WHERE user_id = #{userId}
	</select>

</mapper>