<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <header class="header" th:fragment="headerFragment">
        <div class="top_area main_top_area">
            <div class="gnb_wrap">
                <div class="main_gnb">
                    <ul>
                        <li class="gnb_menu">
                            <a href="/admin/employeeList">직원 목록</a>
                        </li>
                        <li class="gnb_menu">
                            <a href="/admin/notice">공지사항</a>
                        </li>
                        <li class="gnb_menu">
                            <a href="/admin/noticeWrite">공지사항 등록</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</html>