.wrap {
    padding: 80px 15px 50px 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.form_box + .form_box {
    padding-top: 15px;
}
.form_box_first {
    padding-top: 0;
}
.form_box .form_title {
    padding: 10px 0 10px;
    font-weight: bold;
}
.input_box {
    width: 100%;
    height: 40px;
}

.save_box .button_box {
    font-size: 0;
}
.save_box .button_box > button {
    margin-top: 50px;
    width: 48%;
    padding: 10px 0;
    font-size: 15px;
    border: 1px solid #333;
}
.save_box .button_box .save_button {
    margin-right: 4%;
    background: #333;
    color: #fff;
}
.form_select {
    width: 100%;
    height: 40px;
    padding: 0;
}
.blind {
    overflow: hidden;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    top: -99999px;
}