.wrap {
    position: relative;
}
.form_box {
    padding-top: 15px;
}
.form_box_first {
    padding-top: 0;
}
.form_box .form_title {
    padding: 10px 0 10px;
    font-weight: bold;
}
.form_box .education_select {
    width: 100%;
    height: 40px;
}
.form_box .school_box {
    position: relative;
}

.input_box {
    width: 100%;
    height: 40px;
}
.form_box .school_period::after {
    content: '';
    display: block;
    clear: both;
}
.form_box .school_period .period_box .input_line {
    float: left;
    width: 24%;
}
.form_box .school_period .period_box .input_line > select {
    width: 100%;
    height: 40px;
    padding: 0;
}
.form_box .school_period .period_box .input_line + .input_line {
    margin-left: -1px;
}
.form_box .school_period span {
    display: inline-block;
    width: 4%;
    float: left;
    padding-top: 11px;
    text-align: center;
}


.save_box .save_button > button {
    margin-top: 50px;
    width: 100%;
    padding: 10px 0;
    background: #333;
    color: #fff;
    font-size: 15px;
}