<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <title>나누리</title>
    <link rel="stylesheet" th:href="@{/css/plugins/sweetalert/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/reset.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/common.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/common.css}">

    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/js/plugins/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <style>
        a{
            cursor: pointer;
        }
    </style>
</head>
</html>