<!DOCTYPE html>
<html lang="ko">

<!-- 공통헤드 -->
<head th:replace="layout/mobile/notice/head :: headFragment"></head>

<link rel="stylesheet" th:href="@{/sample/nanuri_project/css/notice_write.css}">

<script th:src="@{/js/business/mobile/notice/notice_write.js}"></script>

<body>
    <div class="mo_wrapper">
        <div class="submain">
            <div class="submain_contents">
                <div class="qna_contents_wrap">
                    <div class="product_qna_contents">
                        <div class="product_qna_box">
                            <form>
                                <table>
                                    <tr>
                                        <th>제목</th>
                                        <td>
                                            <div class="qna_title">
                                                <input type="text" id="noticeTitle" class="qna_input_title">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea maxlength="200" id="noticeContent" placeholder="내용을 입력하세요"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            첨부파일
                                        </th>
                                        <td class="qna_fileup">
                                            <input type="file" class="file_up" name="file_up">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>공개설정</th>
                                        <td class="notice_secret_radio">
                                            <input type="radio" id="notice_public_check" name="qna_secret" value="ALL"><label for="qna_public_check">전체공개</label>
                                            <input type="radio" id="notice_secret_check" name="qna_secret" value="EMPLOYEE"><label for="qna_secret_check">직원공개</label>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="qna_button_box">
                    <div class="qna_register_link">
                        <a id="noticeRegister" class="qna_register">등록</a>
                        <a id="cancel" class="qna_cancel">취소</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>