<!DOCTYPE html>
<html lang="ko">

<!-- 공통헤드 -->
<head th:replace="layout/mobile/notice/head :: headFragment"></head>

<link rel="stylesheet" th:href="@{/sample/nanuri_project/css/notice.css}">

<body>
<div class="mo_wrapper">
    <div class="submain">
        <div class="submain_contents">
            <div class="notice_contents_wrap">
                <div class="notice_detail_box">
                    <div class="notice_title">
                        공지사항 입니다.공지사항 입니다.공지사항 입니다.공지사항 입니다.
                    </div>
                    <div class="notice_desc">
                        <span>나누리</span><span>2022-01-01 15:00</span>
                    </div>
                    <div class="notice_detail_contents">
                        공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.
                        공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.공지사항 내용입니다.
                    </div>
                </div>
                <div class="notice_list_link">
                    <a href="#" title="#">수정</a>
                    <a href="#" title="#">삭제</a>
                    <a href="#" title="#">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>