<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>나누리</title>
    <link rel="stylesheet" th:href="@{/sample/admin/css/swiper.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/reset.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/common.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/login.css}">

    <script th:src="@{/js/plugins/jquery/jquery-3.6.0.min.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="submain_wrap">
            <div class="sub_wrap login_wrap">
                <div class="sub_container login_container">
                    <div class="submain_title login_title">
                        비밀번호 변경
                    </div>
                    <div class="normal_wrap">
                        <form action="#">
                            <div class="changepw_input_wrap">
                                <div class="changepw_input">
                                    <input type="text" placeholder="현재 비밀번호">
                                    <input type="password" placeholder="새로운 비밀번호">
                                    <input type="password" placeholder="새로운 비밀번호 확인">
                                </div>
                                <div class="changepw_button">
                                    <button>변경</button>
                                    <button class="changepw_cancel">취소</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>