<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.work.business.member.mapper.MemberMapper">

	<select id="selectCommonCodeList" parameterType="com.nanuri.work.business.member.dto.CommonCodeDTO" resultType="com.nanuri.work.business.member.dto.CommonCodeDTO">
		SELECT ds_cd, 
			   dtl_cd, 
			   ds_cd_nm, 
			   dtl_cnm
		  FROM comn_cd
    	 WHERE ds_cd = #{dsCd}
	  ORDER BY sort_seqn
	</select>
	
	<insert id="insertSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		INSERT INTO mem_scca(
			rgmn_nm, 
			user_id, 
			scca_ds_cd, 
			majr_nm, 
			schl_nm, 
			etis_ym, 
			grdu_ym
		) VALUES (
			#{rgmnNm}, 
			#{userId}, 
			#{sccaDsCd}, 
			#{majrNm}, 
			#{schlNm}, 
			#{etisYm}, 
			#{grduYm}
		)
	</insert>
	
	<select id="selectSchoolCareerList" parameterType="string" resultType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		SELECT seq_no,
			   scca_ds_cd, 
			   majr_nm, 
			   schl_nm, 
			   etis_ym, 
			   grdu_ym
		  FROM mem_scca
		 WHERE user_id = #{userId}
		   AND del_yn = 'N'
	</select>
	
	<select id="selectSchoolCareerDetail" parameterType="long" resultType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		SELECT seq_no,
			   scca_ds_cd, 
			   majr_nm, 
			   schl_nm, 
			   etis_ym, 
			   grdu_ym, 
			   del_yn
		  FROM mem_scca
		 WHERE seq_no = #{seqNo}
		   AND del_yn = 'N'
	</select>
	
	<update id="updateSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		UPDATE mem_scca
		   SET mdfp_nm = #{mdfpNm}, 
		       scca_ds_cd = #{sccaDsCd}, 
		       majr_nm = #{majrNm}, 
		       schl_nm = #{schlNm}, 
		       etis_ym = #{etisYm}, 
		       grdu_ym = #{grduYm}
 		 WHERE seq_no = #{seqNo}
	</update>
	
	<update id="deleteSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		UPDATE mem_scca
   		   SET del_yn = 'Y'
   		 WHERE seq_no = #{seqNo}
	</update>
	
</mapper>