<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.work.business.member.mapper.MemberMapper">

	<select id="selectCommonCodeList" parameterType="com.nanuri.work.business.member.dto.CommonCodeDTO" resultType="com.nanuri.work.business.member.dto.CommonCodeDTO">
		SELECT ds_cd, 				/* 구분코드 */
			   dtl_cd, 				/* 상세코드 */
			   ds_cd_nm, 			/* 구분 코드명 */
			   dtl_cnm 				/* 상세 코드명 */
		  FROM comn_cd
    	 WHERE ds_cd = #{dsCd}
	  ORDER BY sort_seqn
	</select>
	
	<!-- 학력 -->
	<!-- 학력 입력 -->	
	<insert id="insertSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		INSERT INTO mem_scca(
			rgmn_nm,
			user_id,			/* 사용자 ID */ 
			scca_ds_cd, 		/* 학력구분코드 */
			majr_nm, 			/* 전공 */
			schl_nm, 			/* 학교명 */
			etis_ym, 			/* 입학년월 */
			grdu_ym 			/* 졸업년월 */
		) VALUES (
			#{rgmnNm}, 
			#{userId}, 
			#{sccaDsCd}, 
			#{majrNm}, 
			#{schlNm}, 
			#{etisYm}, 
			#{grduYm}
		)
	</insert>
	
	<!-- 학력 리스트 출력 -->
	<select id="selectSchoolCareerList" parameterType="string" resultType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		SELECT seq_no,				/* 일련번호 */
			   scca_ds_cd, 			/* 학력구분코드 */
			   majr_nm, 			/* 전공 */
			   schl_nm, 			/* 학교명 */
			   etis_ym, 			/* 입학년월 */
			   grdu_ym 				/* 졸업년월 */
		  FROM mem_scca
		 WHERE user_id = #{userId}
		   AND del_yn = 'N'
	</select>
	
	<!-- 학력 상세 출력 -->
	<select id="selectSchoolCareerDetail" parameterType="long" resultType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		SELECT seq_no,				/* 일련번호 */
			   scca_ds_cd, 			/* 학력구분코드 */
			   majr_nm, 			/* 전공 */
			   schl_nm, 			/* 학교명 */
			   etis_ym, 			/* 입학년월 */
			   grdu_ym, 			/* 졸업년월 */
			   del_yn
		  FROM mem_scca
		 WHERE seq_no = #{seqNo}
		   AND del_yn = 'N'
	</select>
	
	<!-- 학력 수정 -->
	<update id="updateSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		UPDATE mem_scca
		   SET mdfp_nm = #{mdfpNm}, 
		       scca_ds_cd = #{sccaDsCd}, 
		       majr_nm = #{majrNm}, 
		       schl_nm = #{schlNm}, 
		       etis_ym = #{etisYm}, 
		       grdu_ym = #{grduYm}
 		 WHERE seq_no = #{seqNo}
	</update>
	
	<!-- 학력 삭제 -->
	<update id="deleteSchoolCareer" parameterType="com.nanuri.work.business.member.dto.SchoolCareerDTO">
		UPDATE mem_scca
   		   SET del_yn = 'Y'
   		 WHERE seq_no = #{seqNo}
	</update>
	
	
	<!-- 자격증 -->
	<!-- 자격증 입력 -->
	<insert id="insertCertificate" parameterType="com.nanuri.work.business.member.dto.CertificateDTO">
		INSERT INTO mem_qlfc (
			rgmn_nm, 
			user_id,
			qlfc_ds_cd,
			qlfc_nm,
			pbcpl_nm,
			acq_dt,
			vld_dt,
			updt_dt
		) VALUES (
			#{rgmnNm}, 
			#{userId}, 
			#{qlfcDsCd}, 
			#{qlfcNm}, 
			#{pbcplNm}, 
			#{acqDt}, 
			#{vldDt}, 
			#{updtDt}
		)
	</insert>
	
	<!-- 자격증 리스트 출력 -->
	<select id="selectCertificateList" parameterType="string" resultType="com.nanuri.work.business.member.dto.CertificateDTO">
		SELECT seq_no, 
			   qlfc_ds_Cd, 
			   qlfc_nm, 
			   pbcpl_nm, 
			   acq_dt, 
			   vld_dt, 
			   updt_dt
		  FROM mem_qlfc
		 WHERE user_id = #{userId}
		   AND del_yn = 'N'
	</select>
	
	<!-- 자격증 상세 출력 -->
	<select id="selectCertificateDetail" parameterType="long" resultType="com.nanuri.work.business.member.dto.CertificateDTO">
		SELECT seq_no, 
			   qlfc_ds_Cd, 
			   qlfc_nm, 
			   pbcpl_nm, 
			   acq_dt, 
			   vld_dt, 
			   updt_dt, 
			   del_yn
		  FROM mem_qlfc
		 WHERE seq_no = #{seqNo}
		   AND del_yn = 'N'
	</select>
	
	<!-- 자격증 수정 -->
	<update id="updateCertificate" parameterType="com.nanuri.work.business.member.dto.CertificateDTO">
		UPDATE mem_qlfc
		   SET mdfp_nm = #{mdfpNm},
		       qlfc_ds_cd = #{qlfcDsCd},
			   qlfc_nm = #{qlfcNm},
			   pbcpl_nm = #{pbcplNm},
			   acq_dt = #{acqDt},
			   vld_dt = #{vldDt},
			   updt_dt = #{updtDt}
	</update>
	
	<!-- 자격증 삭제 -->
	<update id="deleteCertificate" parameterType="com.nanuri.work.business.member.dto.CertificateDTO">
		UPDATE mem_qlfc
		   SET del_yn = 'Y'
		 WHERE seq_no = #{seqNo}
	</update>
	
</mapper>