<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>나누리</title>
    
    <!-- <link rel="stylesheet" th:href="@{/sample/admin/css/swiper.css}"> -->
    <link rel="stylesheet" th:href="@{/sample/admin/css/login.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/reset.css}">
    <link rel="stylesheet" th:href="@{/sample/admin/css/common.css}">
    

    <script th:src="@{/js/plugins/jquery/jquery-3.6.0.min.js}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="submain_wrap">
            <div class="sub_wrap login_wrap">
                <div class="sub_container login_container">
                    <div class="submain_title login_title">
                        로그인
                    </div>
                    <div class="normal_wrap">
                        <form method="post" action="/login">
                            <div class="login_input_wrap">
                                <div class="login_input">
                                    <input type="text" value="testAdmin" placeholder="아이디">
                                    <input type="password" value="Asdf1234!@" placeholder="비밀번호">
                                </div>
                                <div class="login_button">
                                    <a href="#">로그인</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>