<!DOCTYPE html>
<html lang="ko">

<!-- 공통헤드 -->

<head th:replace="layout/notice/head :: headFragment"></head>

<link rel="stylesheet" th:href="@{/sample/admin/css/attendance.css}">
<script th:src="@{/js/business/duty/attendance_add.js}"></script>

<body>
    <div class="wrapper">
        <header th:replace="layout/notice/header :: headerFragment"></header>

        <div class="submain_wrap">
            <div class="sub_wrap">
                <div class="sub_container">
                    <div class="submain_title">
                        근태 등록
                    </div>
                    <div class="join_detail_wrap">
                        <form action="">
                            <div class="attendance_list svceFormCd">
                                <div class="attendance_title">근태유형</div>
                                <div class="attendance_box">
                                    <select id="dutyTypeList" class="form_select svceFormCd">
                                        <!-- dutyTypeList -->
                                    </select>
                                </div>
                            </div>
                            <div class="attendance_list svcePrjtTxt">
                                <div class="attendance_title">근무프로젝트</div>
                                <div class="attendance_box">
                                    <input id="svcePrjtTxt" type="text" placeholder="근무프로젝트 입력">
                                </div>
                            </div>
                            <!-- 사유 input box -->
                            <div class="attendance_list">
                                <div class="attendance_title stDt stTm">시작일시</div>
                                <div class="attendance_box">
                                    <input id="stDt" type="text" placeholder="시작일자 입력">
                                </div>
                                <div class="attendance_box attendance_box2">
                                    <input id="stTm" type="text" placeholder="시간 입력">
                                </div>
                            </div>
                            <div class="attendance_list">
                                <div class="attendance_title edDt edTm">종료일시</div>
                                <div class="attendance_box">
                                    <input id="edDt" type="text" placeholder="종료일자 입력">
                                </div>
                                <div class="attendance_box attendance_box2">
                                    <input id="edTm" type="text" placeholder="시간 입력">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="join_agree_wrap">
                        <div class="join_agree_button">
                            <button id="attendance">출근</button>
                            <button class="cancel_button">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>