<!DOCTYPE html>
<html lang="en">

<!-- 공통 헤드 -->
<head th:replace="layout/employee/head :: headFragment"></head>

<script th:src="@{/js/business/employee/certificate_add.js}"></script>

<body>
<div class="main">
    <div class="wrap">
        <form>
            <div class="form_box">
                <div class="form_title">자격증구분</div>
                <div>
                    <select class="form_select" id="qlfcDsCd" name="certificate_classification">
                        <!-- <option value="기술사" selected>기술사</option>
                        <option value="기사">기사</option>
                        <option value="산업기사">산업기사</option>
                        <option value="기능사">기능사</option>
                        <option value="기타">기타</option> -->
                    </select>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">자격증명</div>
                <div>
                    <input class="input_box" id="qlfcNm" type="text" name="certificate_name" placeholder="자격증명 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">발행처</div>
                <div>
                    <input class="input_box" id="pbcplNm" type="text" name="publish_name" placeholder="발행처 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">취득일자</div>
                <div>
                    <input class="input_box" id="acqDt" type="text" name="acquisition_date" placeholder="취득일자 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">유효일자</div>
                <div>
                    <input class="input_box" id="vldDt" type="text" name="effective_date" placeholder="유효일자 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">갱신일자</div>
                <div>
                    <input class="input_box" id="updtDt" type="text" name="renewal_date" placeholder="갱신일자 입력">
                </div>
            </div>
        </form>
        <div class="save_box">
            <div class="save_button">
                <button id="save">저장</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>