<!DOCTYPE html>
<html lang="ko">

<!-- 공통헤드 -->
<head th:replace="layout/notice/head :: headFragment"></head>

<link rel="stylesheet" th:href="@{/sample/admin/css/info.css}">

<script th:src="@{/js/business/employee/language_add.js}"></script>

<body>
    <div class="wrapper">
        <header th:replace="/layout/notice/header :: headerFragment"></header>

        <div class="submain_wrap">
            <div class="sub_wrap">
                <div class="sub_container">
                    <div class="submain_title">
                        외국어 능력
                    </div>
                    <div class="join_detail_wrap">
                        <form>
                            <table class="join_table1">
                                <colgroup>
                                    <col style="width:200px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        언어
                                    </th>
                                    <td>
                                        <div class="join_input">
                                            <input class="input_box" id="frgnNm" type="text" name="language_input" placeholder="언어 입력">
                                        </div>
                                    </td>
                                </tr>
                                    <tr>
                                        <th scope="row">
                                            숙련도
                                        </th>
                                        <td>
                                            <div class="join_input">
                                                <input class="input_box" id="prfcnNm" type="text" name="language_proficiency" placeholder="숙련도 입력">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            기타
                                        </th>
                                        <td>
                                            <div class="join_input">
                                                <input class="input_box" id="etcNm" type="text" name="language_etc" placeholder="기타 입력">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div th:replace="layout/employee/footer :: saveBoxFragment"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>