<!DOCTYPE html>
<html lang="en">

<!-- 공통 헤드 -->
<head th:replace="layout/employee/head :: headFragment"></head>

<script th:src="@{/js/business/employee/skill_add.js}"></script>

<body>
<div class="main">
    <div class="wrap">
        <form>
            <div class="form_box">
                <div class="form_title">사용가능기술(언어)</div>
                <div>
                    <input class="input_box" id="langFeldNm" type="text" name="skill_name" placeholder="사용가능기술(언어) 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">숙련도</div>
                <div>
                    <input class="input_box" id="prfcnNm" type="text" name="skill_proficiency" placeholder="숙련도 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">기타</div>
                <div>
                    <input class="input_box" id="etcNm" type="text" name="skill_etc" placeholder="기타 입력">
                </div>
            </div>
        </form>
        
        <div th:replace="layout/employee/footer :: saveBoxFragment"></div>
    </div>
</div>
</body>
</html>