<!DOCTYPE html>
<html lang="en">

<!-- 공통 헤드 -->
<head th:replace="layout/employee/head :: headFragment"></head>

<script th:src="@{/js/business/employee/workhistory_add.js}"></script>

<body>
<div class="main">
    <div class="wrap">
        <form>
            <div class="form_box">
                <div class="form_title">근무처</div>
                <div>
                    <input class="input_box" id="wrkplNm" type="text" name="company_name" placeholder="근무처 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">입사년월</div>
                <div>
                    <input class="input_box" id="encoYm" type="text" name="join_date" placeholder="입사년월 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">퇴사년월</div>
                <div>
                    <input class="input_box" id="rtrmYm" type="text" name="effective_date" placeholder="퇴사년월 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">직책</div>
                <div>
                    <input class="input_box" id="dtyNm" type="text" name="position_date" placeholder="직책 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">담당업무</div>
                <div>
                    <input class="input_box" id="chrgBsnNm" type="text" name="responsibilities_name" placeholder="담당업무 입력">
                </div>
            </div>
        </form>
        
        <div th:replace="layout/employee/footer :: saveBoxFragment"></div>
    </div>
</div>
</body>
</html>