<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.work.business.board.mapper.BoardMapper">

	<sql id="boardColumns"> 
		seq_no, 
		rgmn_nm, 
		rg_dtm, 
		mdfp_nm, 
		mod_dtm, 
		del_yn, 
		bult_typ_cd, 
		bult_titl_nm, 
		brcn, 
		inq_cn, 
		opnp_est_nm
	</sql>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO">
		INSERT INTO blbd(
			rgmn_nm,
			bult_typ_cd,
			bult_titl_nm,
			brcn, 
			opnp_est_nm
		) VALUES(
			#{rgmnNm}, 
			#{bultTypCd}, 
			#{bultTitlNm}, 
			#{brcn}, 
			#{opnpEstNm}
		)
	</insert>
	
	<!-- 게시글 리스트 호출 -->
	<select id="selectBoardList" parameterType="com.nanuri.work.business.board.dto.BoardDTO" resultType="com.nanuri.work.business.board.dto.BoardDTO">
		SELECT
			  <include refid="boardColumns" />
		  FROM blbd 
		 WHERE bult_typ_cd = #{bultTypCd}
		   AND del_yn = 'N' 
		   <include refid="CommonMapper.search" />
	  ORDER BY seq_no DESC
	       <include refid="CommonMapper.paging" />
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="selectBoardDetail" parameterType="long" resultType="com.nanuri.work.business.board.dto.BoardDTO">
		SELECT 
			<include refid="boardColumns" />
		  FROM blbd
		 WHERE seq_no = #{seqNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateInqCn" parameterType="long">
		UPDATE blbd
		   SET inq_cn = inq_cn + 1
		 WHERE seq_no = #{seqNo}
	</update>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO">
		UPDATE blbd
		   SET mdfp_nm = #{mdfpNm}, 
		       bult_typ_cd = #{bultTypCd},
		       bult_titl_nm = #{bultTitlNm}, 
		       brcn = #{brcn}, 
		       opnp_est_nm = #{opnpEstNm}
		 WHERE seq_no = #{seqNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO">
		UPDATE blbd
		   SET del_yn = 'Y', 
		       mdfp_nm = #{mdfpNm}
		 WHERE seq_no = #{seqNo}
	</update>
	
	<!-- 게시글 갯수 -->
	<select id="selectTotalCountBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO" resultType="int">
		SELECT COUNT(*) 						AS totalCount
		  FROM blbd
		 WHERE bult_typ_cd = #{bultTypCd}
		   AND del_yn = 'N'
		 <include refid="CommonMapper.search" />
	</select>
	
</mapper>