<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.work.business.board.mapper.BoardMapper">

	<sql id="boardColumns"> 
		seq_no, 
		rgmn_nm, 
		rg_dtm, 
		mdfp_nm, 
		mod_dtm, 
		del_yn, 
		bult_typ_cd, 
		bult_titl_nm, 
		brcn, 
		inq_cn
	</sql>
	
	<sql id="search">
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'title'.equals(searchType)">						
							AND bult_titl_nm LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'content'.equals(searchType)">
							AND brcn LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'writer'.equals(searchType)">
							AND rgmn_nm LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<!-- <when test="'id'.equals(searchType)">
							writer LIKE CONCAT('%', #{searchKeyword}, '%')
						</when> -->
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND (
						   title LIKE CONCAT('%', #{searchKeyword}, '%')
						OR content LIKE CONCAT('%', #{searchKeyword}, '%')
						OR writer LIKE CONCAT('%', #{searchKeyword}, '%')
					)
				</otherwise>
			</choose>
		</if>
		<!-- 날짜 검색 유형이 있을 때 -->
		<if test="searchDateType != null and searchDateType != ''">
			<choose>
				<when test="'1we'.equals(searchDateType)">
					AND rg_dtm <![CDATA[>]]> DATE_FORMAT(DATE_ADD(now(), interval -1 day), '%Y%m%d')	
				</when>
				<when test="'1m'.equals(searchDateType)">
					AND rg_dtm <![CDATA[>]]> DATE_FORMAT(DATE_ADD(now(), interval -1 month), '%Y%m%d')
				</when>
				<when test="'3m'.equals(searchDateType)">
					AND rg_dtm <![CDATA[>]]> DATE_FORMAT(DATE_ADD(now(), interval -3 month), '%Y%m%d')
				</when>
			</choose>
		</if>
	</sql>
	
	<insert id="insertBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO">
		INSERT INTO blbd(
			rgmn_nm,
			bult_typ_cd,
			bult_titl_nm,
			brcn
		) VALUES(
			#{rgmnNm}, 
			#{bultTypCd}, 
			#{bultTitlNm}, 
			#{brcn}
		)
	</insert>
	
	<select id="selectBoardList" parameterType="com.nanuri.work.business.board.dto.BoardDTO" resultType="com.nanuri.work.business.board.dto.BoardDTO">
		SELECT
			  <include refid="boardColumns" />
		  FROM blbd 
		 WHERE bult_typ_cd = #{bultTypCd}
		   AND del_yn = 'N' 
		   <include refid="search" />
	  ORDER BY seq_no DESC
	     LIMIT #{paginationInfo.firstRecordIndex}, #{pageDivNo} 
	</select>
	
	<select id="selectBoardDetail" parameterType="long" resultType="com.nanuri.work.business.board.dto.BoardDTO">
		SELECT 
			<include refid="boardColumns" />
		  FROM blbd
		 WHERE seq_no = #{seqNo}
	</select>
	
	<update id="updateInqCn" parameterType="long">
		UPDATE blbd
		   SET inq_cn = inq_cn + 1
		 WHERE seq_no = #{seqNo}
	</update>
	
	<update id="updateBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO">
		UPDATE blbd
		   SET mdfp_nm = #{mdfpNm}, 
		       bult_typ_cd = #{bultTypCd},
		       bult_titl_nm = #{bultTitlNm}, 
		       brcn = #{brcn}
		 WHERE seq_no = #{seqNo}
	</update>
	
	<update id="deleteBoard" parameterType="long">
		UPDATE blbd
		   SET del_yn = 'Y', 
		       mdfp_nm = #{mdfpNm}
		 WHERE seq_no = #{seqNo}
	</update>
	
	<select id="selectTotalCountBoard" parameterType="com.nanuri.work.business.board.dto.BoardDTO" resultType="int">
		SELECT COUNT(*) 	AS totalCount
		  FROM blbd
		 WHERE bult_typ_cd = #{bultTypCd}
		 <include refid="search" />
	</select>
	
</mapper>