<!DOCTYPE html>
<html lang="en">

<!-- 공통 헤드 -->
<head th:replace="layout/mobile/employee/head :: headFragment"></head>

<script th:src="@{/js/business/employee/employee_add.js}"></script>

<body>
<div class="main">
    <div class="wrap">
        <form>
            <div class="form_box">
                <div class="form_title">소속구분</div>
                <div>
                    <select id="blgDsCd" class="form_select" name="division_name">
                        <!-- common code list -->
                    </select>
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">소속</div>
                <div>
                    <input class="input_box" id="blgNm" type="text" name="department_name" placeholder="소속 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">우편번호</div>
                <div>
                    <input class="input_box" id="zip" type="text" name="zip_code" placeholder="우편번호 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">주소</div>
                <div>
                    <input class="input_box" id="addr" type="text" name="address_name" placeholder="주소 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">이름</div>
                <div>
                    <input class="input_box" id="userNm" type="text" name="user_name" placeholder="이름 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">입사일자</div>
                <div>
                    <input class="input_box" id="encoDt" type="text" name="join_date2" placeholder="입사일자 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">퇴사일자</div>
                <div>
                    <input class="input_box" id="rtrmDt" type="text" name="effective_date2" placeholder="퇴사일자 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">소속구분 변경일자</div>
                <div>
                    <input class="input_box" id="blgDsChgDt" type="text" name="change_date" placeholder="소속구분 변경일자 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">직급</div>
                <div>
                    <input class="input_box" id="dtyNm" type="text" name="rank_name" placeholder="직급 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">전화번호</div>
                <div>
                    <input class="input_box" id="telNo" type="tel" name="phone_num" placeholder="전화번호 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">주민등록번호</div>
                <div>
                    <input class="input_box" id="rrno" type="text" name="registration_number" placeholder="주민등록번호 앞 7자리 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">직무</div>
                <div>
                    <input class="input_box" id="dutNm" type="text" name="job_name" placeholder="직무 입력">
                </div>
            </div>
            <div class="form_box">
                <div class="form_title">E-mail</div>
                <div>
                    <input class="input_box" id="emailAddr" type="email" name="email_address" placeholder="이메일 입력">
                </div>
            </div>
        </form>
        <div th:replace="layout/mobile/employee/footer :: saveBoxFragment"></div>
    </div>
</div>
</body>
</html>